<div class="card h-100 shadow-sm">
  <div class="card-body">
    <span class="badge bg-secondary mb-2">{{ botella().catalogo }}</span>
    <h5 class="card-title">{{ botella().nombre }}</h5>
    <p class="card-text text-muted">{{ botella().descripcion }}</p>
    <p class="fw-bold">${{ botella().precio }}</p>
    <p class="text-secondary">{{ botella().capacidad_ml }} ml</p>
    <button class="btn btn-primary w-100"
            (click)="irADetalle()">
      Ver detalle
    </button>
  </div>
</div>